* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    background-color: #FFBFA9;
    font-size: 1.6rem;
    text-align: center;
  }
  
  header {
    text-align: center;
    padding: 2rem;
  }
  
  main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    justify-items: center;
    align-items: center;
    min-height: 60vh;
  }
  
  .form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    border-radius: 10px;
    border: 2px solid rgba(245, 136, 160, 0.644);
    padding: 3rem;
    grid-gap: 1.6rem;
  }
  
  .form .buffet,
  .form .consumo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  
  .form input {
    font-size: 15px;
    border: none;
    border-radius: 0.4rem;
    padding: 1rem 3.2rem;
  }
  
  button {
    border: none;
    border-radius: 0.4rem;
    padding: 1rem 3.2rem;
    background-color: #FFEBB4;
    cursor: pointer;
    font-size: 15px;

  }
  
  .precoPago {
    width: 300px;
    height: 300px;
    background-color: #FBFFB1;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  
